<form method="post" action="{{ path('camping_car_delete', {'id': camping_car.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ camping_car.id) }}">
    <button class="btn">Delete</button>
</form>
